.whide_button{
    width: 100%;
    margin-top: 5px;
    
}
.edit_user_container{
    width: 50%;
   margin-left:auto;
   margin-right:auto;
   padding: 10px;
  
}
 .post_stream_search{

   margin:0px 15px 20px 15px;
}
body{
    background-color: #777;

}
h3,label{color: #eee;}
input-header{
    
    margin: auto 10px auto 5px;
}